<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/trip-history"></ion-back-button>
    </ion-buttons>
    <ion-title class="fs-13">{{ trip.name }}</ion-title>
    <p
      slot="end"
      class="m-3 fs-13"
      [ngClass]="{
        'status-complete': selectedStatus === 'Completed',
        'status-rejected': selectedStatus !== 'Completed'
      }"
    >
      {{ trip.status }}
    </p>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" *ngIf="trip">
  <div class="m-1">
  <div class="mb-1 shadow rounded">
    <app-headline-comp title="Trip Details"></app-headline-comp>
    <div>
      <ion-item lines="full">
        <ion-label class="fw-semibold fs-13">Pick up</ion-label>
        <div class="fs-13">{{ trip.details.pickUp }}</div>
      </ion-item>
      <ion-item lines="full">
        <ion-label class="fw-semibold fs-13">Drop off</ion-label>
        <div class="fs-13">{{ trip.details.dropOff }}</div>
      </ion-item>
      <ion-item lines="full">
        <ion-label class="fw-semibold fs-13">Vehicle</ion-label>
        <div class="fs-13">{{ trip.details.vehicle }}</div>
      </ion-item>
      <ion-item lines="full">
        <ion-label class="fw-semibold fs-13">Duration</ion-label>
        <div class="fs-13">{{ trip.details.duration }}</div>
      </ion-item>
      <ion-item lines="full">
        <ion-label class="fw-semibold fs-13">Total Fare</ion-label>
        <div class="fs-13">{{ trip.details.totalFare }}</div>
      </ion-item>
      <ion-item lines="full">
        <ion-label class="fw-semibold fs-13">Payment Method</ion-label>
        <div class="fs-13">{{ trip.details.paymentMethod }}</div>
      </ion-item>
    </div>
  </div>

  <div class="mb-1 shadow rounded" *ngIf="selectedStatus !== 'Rejected'">
    <app-headline-comp title="Payment Type"></app-headline-comp>
    <div>
      <ion-item lines="full">
        <ion-label class="fw-semibold fs-13">Payment Type</ion-label>
        <div class="fs-13">{{ trip.payment.paymentType }}</div>
      </ion-item>
      <ion-item lines="full">
        <ion-label class="fw-semibold fs-13">Total</ion-label>
        <div class="fs-13">{{ trip.payment.total }}</div>
      </ion-item>
      <ion-item lines="full">
        <ion-label class="fw-semibold fs-13">Amount Paid</ion-label>
        <div class="fs-13">{{ trip.payment.amountPaid }}</div>
      </ion-item>
      <ion-item lines="full">
        <ion-label class="fw-semibold fs-13">Remaining Balance</ion-label>
        <div class="fs-13">{{ trip.payment.remainingBalance }}</div>
      </ion-item>
    </div>
  </div>
  </div>
</ion-content>
