@if(tripDetails){
<ion-content>
  <div class="p-1">
    <div class="dateTime d-flex justify-content-between p-2 border shadow">
      <span class="pu-date">
        {{ tripDetails.pu_date | customDateTime : tripDetails.pu_time }}
      </span>
      <span>ID: {{ tripDetails.booking_id }}</span>
    </div>

    <div class="mb-1 border shadow rounded-bottom-2">
      <app-headline-comp title="REQUIREMENTS"></app-headline-comp>
      <p class="requirements ion-text-left p-3 mb-0 text-center">
        {{ selectedReservation.requirements }}
      </p>
    </div>

    <div class="mb-1 border shadow rounded-bottom-2">
      <app-headline-comp title="PASSENGER INFO"></app-headline-comp>

      <div class="d-flex align-items-center border p-1 shadow rounded-bottom-2">
        <div class="image-container">
          <img
            src="../../../assets/imgs/passenger-profile.jpg"
            alt="Passenger Image"
            class="img-fluid rounded-circle passenger-image"
          />
        </div>
        <div class="flex-grow-1 ps-3 ion-align-items-start mb-1">
          <p class="mb-2 text-center fs-3">
            {{ tripDetails.booking_f_name + " " + tripDetails.booking_l_name }}
          </p>
          <div class="d-flex justify-content-center gap-4">
            <!-- Phone link -->
            <a
              href="tel:{{ tripDetails.booking_phone }}"
              class="text-decoration-none"
              aria-label="Call Us"
            >
              <div
                class="icon-container border rounded-circle p-3 shadow-lg d-flex align-items-center justify-content-center"
              >
                <i class="icon fa-solid fa-phone"></i>
              </div>
            </a>

            <!-- SMS link -->
            <a
              href="sms:{{ tripDetails.booking_phone }}"
              class="text-decoration-none"
              aria-label="Text Us"
            >
              <div
                class="icon-container border rounded-circle p-3 shadow-lg d-flex align-items-center justify-content-center"
              >
                <i class="icon fa-regular fa-envelope"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Routing info-->
    <div class="mb-1">
      <app-headline-comp title="Routing Details"></app-headline-comp>
      <div class="border shadow rounded-bottom-2" style="font-size: 13px">
        <app-pick-drop
          [pickupAddress]="tripDetails.pickupAddress"
          [dropoffAddress]="tripDetails.dropoffAddress"
        ></app-pick-drop>

        <app-navigate-button></app-navigate-button>
      </div>
    </div>

    <div class="mb-1 border shadow rounded-bottom-2" style="font-size: 13px">
      <div
        class="toggleFinalizeTab d-flex justify-content-center align-items-center gap-2 text-white"
        (click)="toggleFinalizeTab()"
      >
        <app-headline-comp title="FINALIZE TAB"> </app-headline-comp>
        <i
          [ngClass]="{ 'toggle-icon': finalizeTabOpen }"
          class="fa-solid fa-chevron-down"
        ></i>
      </div>

      <p class="ion-text-left mb-0 text-center"></p>
      <div *ngIf="finalizeTabOpen">
        <!-- Notes Section -->
        <div class="p-2">
          <label for="notes" class="form-label">Notes:</label>
          <textarea
            id="notes"
            [(ngModel)]="notes"
            rows="3"
            class="form-control"
            placeholder="Enter notes here..."
          ></textarea>
        </div>

        <!-- Mileage Section -->
        <div class="p-2">
          <app-headline-comp title="Mileage In/Out"></app-headline-comp>
          <div class="row mt-3">
            <div class="col-md-6 mb-3">
              <label for="mileageIn" class="form-label">Mileage In:</label>
              <input
                type="number"
                id="mileageIn"
                [(ngModel)]="mileageIn"
                class="form-control"
                placeholder="Enter Mileage In here..."
              />
            </div>
            <div class="col-md-6 mb-1">
              <label for="mileageOut" class="form-label">Mileage Out:</label>
              <input
                type="number"
                id="mileageOut"
                [(ngModel)]="mileageOut"
                class="form-control"
                placeholder="Enter Mileage Out here..."
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="border shadow rounded-bottom-2">
      <app-headline-comp title="PAYMENT STATUS"></app-headline-comp>
      <div class="border p-2">
        <app-payments-tab
          [booking_id]="tripDetails.booking_id"
          [waitingCost]="calculateWaitingCost()"
        ></app-payments-tab>
      </div>
    </div>

    <div class="fixed-bottom sticky-bottom bottom-tab">
      <div class="px-2 border">
        <div class="d-flex justify-content-between gap-2 align-items-center">
          <div class="status-section d-flex flex-column gap-2">
            <strong>Current Status</strong>
            <ion-select
              style="min-height: 0 !important"
              class="currentStatus"
              [(ngModel)]="currentStatus"
              interface="popover"
              placeholder="Select Status"
              (ionChange)="changeStatus()"
            >
              <ion-select-option
                *ngFor="let option of options"
                [value]="option.value"
                >{{ option.label }}</ion-select-option
              >
            </ion-select>
          </div>
          <div class="vertical-divider"></div>
          <div class="d-flex flex-column justify-content-between gap-2">
            <strong>Waiting Time</strong>
            <div
              class="waitingTimer font-weight-bold d-flex justify-content-between align-items-center"
            >
              <p
                (click)="startWaitingTimer()"
                [class.disabled]="currentStatus !== 'arrived'"
                [style.pointer-events]="
                  currentStatus !== 'arrived' ? 'none' : 'auto'
                "
                [style.opacity]="currentStatus !== 'arrived' ? '0.5' : '1'"
                class="mb-0"
              >
                {{ waitingButtonLabel }} :
              </p>
              <p class="mx-4 mb-0">{{ formatTime(waitingTime) }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
}
