<ion-content>
  <div class="p-3">
    <div class="d-flex justify-content-between p-2">
      <span>{{ selectedReservation.date }}</span>
      <span>ID: {{ selectedReservation.id }}</span>
    </div>

    <div class="mb-3 border">
      <app-headline-comp title="REQUIREMENTS"></app-headline-comp>
      <p class="ion-text-left p-3 mb-0 text-center">
        {{ selectedReservation.requirements }}
      </p>
    </div>

    <div class="mb-3 border">
      <p
        class="passanger-info border-bottom text-center p-2 ion-text-uppercase mb-0"
      >
        PASSENGER INFO
      </p>

      <div class="text-black mb-2 text-center fs-4">
        <div class="flex-grow-1 ps-3 ion-align-items-start">
          <p class="mb-2 text-center fs-1 mt-2">
            {{ selectedReservation.name }}
          </p>
          <div class="d-flex justify-content-center gap-4">
            <a
              href="tel:+1234567890"
              class="text-decoration-none"
              aria-label="Call Us"
            >
              <div
                class="border rounded-circle p-3 shadow-lg d-flex align-items-center justify-content-center"
              >
                <i class="icon fa-solid fa-phone"></i>
              </div>
            </a>
            <a
              href="mailto:example@example.com"
              class="text-decoration-none"
              aria-label="Email Us"
            >
              <div
                class="border rounded-circle p-3 shadow-lg d-flex align-items-center justify-content-center"
              >
                <i class="icon fa-regular fa-envelope"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Routing info-->
    <div>
      <app-headline-comp title="Routing Details"></app-headline-comp>
      <div class="border p-4">
        <app-pick-drop
          [pickupAddress]="selectedReservation.pickupAddress"
          [dropoffAddress]="selectedReservation.dropoffAddress"
        ></app-pick-drop>

        <app-navigate-button></app-navigate-button>
      </div>
    </div>

    <div class="mb-3 p-2 border">
      <div class="d-flex justify-content-between align-items-center">
        <!-- Status Section -->
        <div class="status-section">
          <strong>Current Status</strong>
          <ion-select
            class="currentStatus"
            [(ngModel)]="currentStatus"
            interface="popover"
            placeholder="Select Status"
            (ionChange)="changeStatus()"
          >
            <ion-select-option
              *ngFor="let option of visibleOptions"
              [value]="option.value"
            >
              {{ option.label }}
            </ion-select-option>
          </ion-select>
        </div>

        <!-- Vertical Divider -->
        <div class="vertical-divider"></div>

        <!-- Waiting Time Section -->
        <div class="d-flex flex-column justify-content-between gap-2">
          <strong>Waiting Time</strong>
          <div
            class="waitingTimer font-weight-bold d-flex justify-content-between align-items-center"
          >
            <p
              (click)="startWaitingTimer()"
              [class.disabled]="currentStatus !== 'arrived'"
              [style.pointer-events]="
                currentStatus !== 'arrived' ? 'none' : 'auto'
              "
              [style.opacity]="currentStatus !== 'arrived' ? '0.5' : '1'"
            >
              {{ waitingButtonLabel }} :
            </p>
            <p class="mx-4">{{ formatTime(waitingTime) }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
