<ion-modal [isOpen]="isOpen" (willDismiss)="closeModal()" class="ion-padding">
  <ng-template>
    <div class="modal-content text-center p-4">
      <!-- <span  class="text-end mb-0 shadow-lg" > -->
        <i *ngIf="showBackButton" (click)="closeModal()" class="fa-solid fa-xmark text-end"></i>
      <!-- </span> -->
      <h4>{{ title }}</h4>
      <p>{{ message }}</p>
      <div class="d-flex justify-content-around mt-4">
        
        <button
          *ngFor="let btn of buttons"
          class="btn {{ btn.action === 'other' || btn.action === 'canceled' ? 'red' : 'green' }}"
          (click)="handleButtonClick(btn.action)"
        >
          {{ btn.text }}
        </button>
      </div>
    </div>
  </ng-template>
</ion-modal>
