<div
  class="extra-items d-flex justify-content-around align-items-center text-center"
>
  <div>
    <!-- Display number of luggage and luggage type below the icon -->
    @if(extraInfo.no_of_luggage)
    {
      <div class="iconCount">{{ extraInfo.no_of_luggage }}</div>
      <div class="luggageType">{{ extraInfo.luggage_type }}</div>
    }
    <i class="icon fa-solid fa-suitcase-rolling" (click)="openPopup('luggage')"></i>
  </div>


  <div>
    <!-- Display number of passengers below the icon -->
    @if(extraInfo.no_of_passengers)
    {
      <div class="iconCount">{{ extraInfo.no_of_passengers }}</div>
    }
    <i class="icon fa-solid fa-person" (click)="openPopup('passengers')"></i>
  </div>

  <div>
    <!-- Display child seat count and type below the icon -->
    @if(extraInfo.child_seat_count)
    {
      <div class="iconCount">{{ extraInfo.child_seat_count }}</div>
      <div class="childSeatType">{{ extraInfo.child_seat }}</div>
    }
    <i class="icon fa-solid fa-baby" (click)="openPopup('child_seat')"></i>
  </div>
</div>

<!-- Row for miles, more info, and hours -->
<div class="row mt-3">
  <!-- Column for miles -->
  <div class="col-4 d-flex justify-content-center align-items-center">
    <p class="rounded py-1 mt-4 text-center" *ngIf="extraInfo.miles">
      {{ extraInfo.miles }} Miles
    </p>
  </div>

  <!-- Column for more info button, ensure it's centered -->
  <div class="col-4 d-flex justify-content-center align-items-center">
    <div
      *ngIf="showButton"
      (click)="openMoreInfo()"
      class="more-info btn text-white"
    >
      More Info
    </div>
  </div>

  <!-- Column for hours -->
  <div class="col-4 d-flex justify-content-center align-items-center">
    <p class="rounded py-1 mt-4 text-center" *ngIf="extraInfo.hours">
      {{ extraInfo.hours }} Hours
    </p>
  </div>
</div>

<!-- Modal for more info -->
<ion-modal
  [isOpen]="showInfoModal"
  (willDismiss)="closeMoreInfo()"
  [initialBreakpoint]="0.7"
  [breakpoints]="[0, 0.25, 0.5, 0.7, 0.9]"
>
  <ng-template>
    <div class="modal-content text-center">
      <h4 class="text-uppercase">More Information</h4>
      <div *ngIf="extraInfo" class="mt-3">
        <p><strong>Notes:</strong> {{ extraInfo.notes || 'Not provided' }}</p>
        <p><strong>Notes to driver:</strong> {{ extraInfo.notes_to_driver || 'Not provided' }}</p>
        <p><strong>Occasion Type:</strong> {{ extraInfo.occasion_type || 'Not provided' }}</p>
        <p><strong>Greeting Sign:</strong> {{ extraInfo.greeting_sign || 'Not provided' }}</p>
        <p><strong>Greeting Sign Text:</strong> {{ extraInfo.greeting_sign_text || 'Not provided' }}</p>
      </div>
      <button (click)="closeMoreInfo()" class="closeButton btn text-uppercase">
        Close
      </button>
    </div>
  </ng-template>
</ion-modal>

<!-- Modal for icon popup -->
<ion-modal
  [isOpen]="isPopupOpen"
  (willDismiss)="closePopup()"
  class="ion-padding icon-popup"
>
  <ng-template>
    <div class="icon-info modal-content text-center">
      <h4 class="text-uppercase">{{ modalTitle }}</h4>
      <p>{{ modalContent }}</p>
      <button (click)="closePopup()" class="closeButton btn text-uppercase">
        Close
      </button>
    </div>
  </ng-template>
</ion-modal>
