<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="fs-14">Trip History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true">
  <div class="m-1">
    <p class="radio-container p-2 rounded my-2 ">
      <ion-radio-group
        value="{{ selectedStatus }}"
        (ionChange)="onStatusChange($event)"
        class="radio-group"
      >
        <ion-radio value="Completed" color="light" labelPlacement="end">
          <ion-label class="fs-14">
            Completed ({{ completedTrips.length }})
          </ion-label>
        </ion-radio>
        <div class="border"></div>

        <ion-radio value="Rejected" color="light" labelPlacement="end">
          <ion-label class="fs-14">
            Rejected ({{ rejectedTrips.length }})
          </ion-label>
        </ion-radio>
      </ion-radio-group>
    </p>

    <div class="d-flex gap-1 flex-column">
    <div
      *ngFor="
        let trip of selectedStatus === 'Completed'
          ? completedTrips
          : rejectedTrips
      "
    >
      <ion-card (click)="viewTripDetails(trip)">
        <ion-item lines="none">
          <img
            [src]="trip.image"
            alt="{{ trip.name }}"
            class="image rounded-circle me-4"
          />
          <ion-label>
            <div class="d-flex justify-content-between">
              <h2 class="fs-14">{{ trip.name }}</h2>
              <p
                class="fs-14"
                [ngClass]="{
                  'status-complete': selectedStatus === 'Completed',
                  'status-rejected': selectedStatus !== 'Completed'
                }"
              >
                {{ trip.status }}
              </p>
            </div>
            <p class="fs-14">{{ trip.date }}</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>
  </div>
    <div
      *ngIf="
        (selectedStatus === 'Completed' && completedTrips.length === 0) ||
        (selectedStatus === 'Rejected' && rejectedTrips.length === 0)
      "
      class="ion-padding text-center"
    >
      <p class="fs-14">No Trip History</p>
    </div>
  </div>
</ion-content>
