.login-container {
  background: url(../../assets//imgs//login-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  }

  .secondary-card {
    max-width: 400px;
    width: 100%;
  }

  .ion-icon-password {
    font-size: 1.2rem;
  }