.active {
  background-color: #3880ff;
  color: white;
}

ion-segment-button.active {
  --color: var(--ion-color-primary);
  --background: var(--ion-color-primary-tint);
}
ion-menu-button {
  pointer-events: auto;  
}

@keyframes showFullName {
  0% {
    max-width: 0;
    opacity: 0;
  }
  100% {
    max-width: 200px; 
    opacity: 1;
  }
}

.full-name-animation {
  max-width: 0; 
  overflow: hidden;
  white-space: nowrap; 
  animation: showFullName 1.5s ease-in-out forwards; 
}

ion-segment-button.active {
  --color: var(--ion-color-primary);
  --background: var(--ion-color-primary-tint);
}

ion-menu-button {
  pointer-events: auto; /* Ensure it can be clicked */
}
