<ion-header>
  <div class="border-bottom">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>

      <div
        class="d-flex justify-content-start align-items-center w-100 overflow-scroll"
      >
        <img
        class="mx-2 rounded-circle"
          src="../../assets/imgs/driver-image.jpg"
          alt="Driver Profile"
          style="
            width: 40px;
            height: 40px;
          "
        />
        <div
          class="overflow-scroll d-flex align-items-center full-name-animation"
          style="white-space: nowrap"
        >
          <span
            class="fw-bold"
            style="
              max-width: 200px;
              white-space: nowrap;
              text-overflow: ellipsis;
            "
          >
            Hello, {{ firstName }} {{ lastName }}
          </span>
        </div>
      </div>

      <!-- End: Toggle OnDuty/OffDuty -->
      <ion-buttons slot="end" class="d-flex align-items-center">
        <div class="text-center border-primary ms-2">
          <div class="card-body">
            <span
              class="card-title m-0"
              [ngClass]="{ 'text-success': isOnDuty, 'text-danger': !isOnDuty }"
            >
            {{ isOnDuty ? "On" : "Off" }} Duty
            </span>
          </div>
        </div>

        <!-- Toggle Button -->
        <ion-toggle
          aria-label="On Duty Toggle"
          color="success"
          mode="ios"
          [checked]="isOnDuty"
          (ionChange)="onToggleChange($event)"
          class="toggle"
        ></ion-toggle>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <ion-toolbar>
    <ion-segment
      [(ngModel)]="selectedSegment"
      (ionChange)="segmentChanged($event)"
    >
      <ion-segment-button value="pending" class="relative">
        Pending @if (pendingNotifications > 0) { ({{ pendingNotifications }}) }
      </ion-segment-button>
      <ion-segment-button value="upcoming">
        Upcoming @if (upcomingNotifications > 0) { ({{ upcomingNotifications }})
        }
      </ion-segment-button>
      <ion-segment-button value="in-progress"> In Progress </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
