<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
    />
  </ion-refresher>

  <div class="d-flex flex-column" style="font-size: 13px">
    @for(trip of tripDetails; track $index) {
    <div class="shadow-lg trip-card">
      <div class="text-center px-1 m-1 reservation">
        <p
          (click)="toggleDetails($index)"
          class="clickable-text d-flex align-items-center justify-content-center p-2 mb-0"
        >
          <span class="me-2">{{ trip.booking_id }}</span>
          <i
            [ngClass]="{ 'toggle-icon': trip.showDetails }"
            class="fa-solid fa-chevron-down"
          ></i>
        </p>
        <div class="border border-white mb-1"></div>
        <div class="d-flex justify-content-between mb-0 p-1">
          <span>{{ trip.booking_f_name }} {{ trip.booking_l_name }}</span>
          <span class="pu-date">
            {{
              formatDateTime(trip.pu_date, trip.pu_time)
                | date : "dd MMM, h:mm a"
            }}
          </span>
        </div>
      </div>

      <!-- Expanded Passenger Details Section -->
      <div *ngIf="trip.showDetails" class="details m-1 fade-in">
        <app-headline-comp title="Passenger Details"></app-headline-comp>

        <!-- Passenger Information -->
        <div
          class="d-flex align-items-center border p-1 mb-1 shadow rounded-bottom-2"
        >
          <div class="image-container">
            <img
              src="../../../assets/imgs/passenger-profile.jpg"
              alt="Passenger Image"
              class="img-fluid rounded-circle passenger-image"
            />
          </div>
          <div class="flex-grow-1 ps-3 ion-align-items-start mb-1">
            <p class="mb-2 text-center" style="font-size: 1.4rem;">
              {{ trip.booking_f_name + " " + trip.booking_l_name }}
            </p>            
            <div class="d-flex justify-content-center gap-4">
              <!-- Phone link -->
              <a
                href="tel:{{ trip.booking_phone }}"
                class="text-decoration-none"
                aria-label="Call Us"
              >
                <div
                  class="icon-container border rounded-circle p-3 shadow-lg d-flex align-items-center justify-content-center"
                >
                  <i class="icon fa-solid fa-phone"></i>
                </div>
              </a>

              <!-- SMS link -->
              <a
                href="sms:{{ trip.booking_phone }}"
                class="text-decoration-none"
                aria-label="Text Us"
              >
                <div
                  class="icon-container border rounded-circle p-3 shadow-lg d-flex align-items-center justify-content-center"
                >
                  <i class="icon fa-regular fa-envelope"></i>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="mb-1">
          <app-headline-comp title="Routing Details"></app-headline-comp>
          <div class="border shadow rounded-bottom-2">
            <app-pick-drop
              [pickupAddress]="trip.pickupAddress"
              [dropoffAddress]="trip.dropoffAddress"
            ></app-pick-drop>

            <app-navigate-button
              [pickupAddress]="trip.pickupAddress"
              [dropoffAddress]="trip.dropoffAddress"
            ></app-navigate-button>
          </div>
        </div>

        <div class="mb-1">
          <app-headline-comp title="Additional Details"></app-headline-comp>
          <div class="border pt-3 shadow rounded-bottom-2">
            <app-extra-items
              [extraInfo]="trip.extraInfo"
              [showButton]="false"
            ></app-extra-items>
          </div>
        </div>

        <div class="mb-1">
          <app-headline-comp title="Notes From ADMIN"></app-headline-comp>
          <p class="ion-text-center p-2 mb-0 shadow rounded-bottom-2" style="font-size: 0.9rem">
            Example: Help Passenger with their luggage.
          </p>
        </div>

        <div class="mb-1">
          <app-headline-comp title="PAYMENT STATUS"></app-headline-comp>
          <div class="border shadow rounded-bottom-2">
            <p class="ion-text-center p-2 mb-0" style="font-size: 1.12rem">
              Remaining Payment:
              <span class="text-success"
                >{{ trip.company.currency.symbol
                }}{{ trip.grand_total || 100 }}</span
              >
            </p>
          </div>
        </div>

        <div class="border">
          <app-headline-comp title="Assigned Vehicle"></app-headline-comp>

          <div
            class="d-flex justify-content-around align-items-start mt-1 p-1 shadow rounded-bottom-2"
          >
            <div class="text-center">
              <p class="mb-0">{{ trip.fleet.name }}{{ trip.fleet.model }}</p>
              <div class="s-class m-0 w-100">
                <img
                  [src]="trip.fleet.images || '../../../assets/imgs/car.png'"
                  alt="Fleet Image"
                  class="img-fluid"
                  loading="lazy"
                />
              </div>
            </div>
            <p class="mb-0 text-center">
              Plate Number: {{ trip.fleet.plate_number || "N/A" }}
            </p>
          </div>
        </div>

        <div class="fixed-bottom sticky-bottom bg-white mb-1">
          <div class="button-container">
            <button
              class="change-status btn-flex btn border border-secondary text-uppercase"
              (click)="openStatusChangeModal(trip.id)"
            >
              Change Status
            </button>
            <button
              class="start-trip btn-flex btn p-3 text-uppercase"
              (click)="startTrip(trip.id)"
            >
              Start Trip
            </button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>

  <app-common-confirmation-modal
    [isOpen]="showConfirmationModal"
    [actionTitle]="actionTitle"
    [actionText]="actionText"
    (confirmAction)="handleConfirmation($event)"
    (isOpenChange)="onModalClose()"
  >
  </app-common-confirmation-modal>

  <ion-modal
    [isOpen]="showStatusChangeModal"
    (willDismiss)="cancelStatusChange()"
    class="ion-padding"
  >
    <ng-template>
      <div class="modal-content text-center p-2">
        <h4>Change Status</h4>
        <p>Are you sure you want to change the status?</p>
        <div class="d-flex justify-content-around mt-4">
          <button
            class="btn statusReject"
            (click)="confirmStatusChange('rejected')"
          >
            Reject
          </button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
