.trip-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trip-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.toggle-icon {
  transition: transform 0.4s ease-in-out;
  transform: rotate(180deg);
}

i {
  transition: transform 0.4s ease-in-out;
}

.details {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.details.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.reservation {
  background-color: var(--bg-primary-100);
  color: var(--bg-neutral-100);
  letter-spacing: 1px;
}

/* Styling for buttons */
.btn-flex {
  flex: 1;
  border: none;
  border-radius: 0;
  font-size: 16px;
  text-align: center;
}

ion-modal {
  --height: auto;
  --max-height: 80%;
  --background: rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(2px);
}

.modal-content {
  width: 100%;
  background: var(--bg-neutral-100);
}

.cancelAction {
  background: var(--bg-primary-200);
  color: var(--bg-neutral-100);
}

.icon {
  color: var(--bg-orange-100);
  font-size: 1.5rem;
}

.passanger-image {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.image-container {
  width: 33.33%;
  max-width: 150px;
}

.start-trip {
  background: var(--bg-green-100);
  color: var(--bg-neutral-100);
}

.statusReject {
  background: var(--bg-red-100) ;
  color: var(--bg-neutral-100);
}

.s-class {
  max-width: 120px;
}