// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --bg-black-100: #000000;
    --bg-black-100: #2D2D2D;
    --bg-black-300: #333333;
    --bg-black-200: #4D4D4D;
    --bg-black-300: #666666;

    --bg-blue-100: #007bff;
    --bg-blue-200: #66b3ff;
    --bg-blue-300: #99ccff;

    --bg-green-100: #28a745;
    --bg-green-200: #66d59b;
    --bg-green-300: #99e6a5;
    
    --bg-orange-100: #f04321;
    --bg-orange-200: #ff6f40;
    --bg-orange-300: #ff9f70;
    --bg-orange-400: #ffb2a1;
    --bg-orange-500: #ffe0cc; 

    --bg-red-100: #ff3d3d;
    --bg-red-200: #ff6b6b; 
    --bg-red-300: #ff9999; 
    --bg-red-400: #ffb3b3;
    --bg-red-500: #ffe0e0;

    --bg-primary-100: #2D2D2D;
    --bg-primary-200: #4D4D4D; 
    --bg-primary-300: #666666;
    
    --bg-secondary-100: #28a745;
    --bg-secondary-200: #66d59b;
    --bg-secondary-300: #99e6a5;

    --bg-neutral-100: #ffffff;
    --bg-neutral-200: #f2f2f2;
    --bg-neutral-300: #e6e6e6;

}

