<div class="container text-center my-5">
  <div class="checkmark-container mb-4">
    <div class="checkmark-circle">
      <i class="fa-solid fa-circle-check"></i>
    </div>
  </div>

  <h1 class="text-success mb-3">Payment Successful!</h1>
  <p class="lead text-muted">Your payment was successful. Thank you!</p>

  <div class="card shadow-lg rounded-lg my-5 p-4">
    <h4 class="card-title text-success">Payment Details</h4>
    <div class="card-body">
      <p><strong>Amount Paid:</strong> {{ currencySymbol }} {{ amountPaid }}</p>
      <p>
        <strong>Payment Method:</strong
        ><span class="text-capitalize">
          <!-- {{ paymentMethod }}
          @if(otherPaymentDetails) { (
          {{ otherPaymentDetails }}
          )} -->
          <ng-container *ngIf="paymentMethod === 'card'; else paymentDetails">
            Charged the card on machine
          </ng-container>
          <ng-template #paymentDetails>
            {{ paymentMethod }}
            <ng-container *ngIf="otherPaymentDetails"> ({{ otherPaymentDetails }})</ng-container>
          </ng-template>
        </span>
      </p>
      <p><strong>Date:</strong> {{ today | date : "dd MMM YYYY, h:mm a" }}</p>
    </div>
  </div>

  <a
    href="/"
    class="btn btn-success btn-lg mt-3 animate__animated animate__fadeInUp"
  >
    Go to Homepage
  </a>
</div>