/* General Styling */
.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 25px;
}

.image {
  aspect-ratio: 1 / 1;
  width: 70%;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

.header {
  background-color: var(--bg-primary-100);
  color: var(--bg-neutral-100);
}


.stare {
  color: yellow;
  margin-right: 5px;
}
  