<ion-header>
  <ion-toolbar>
    <!-- Menu button on the left -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <!-- Driver Profile Title on the left -->
    <ion-title slot="start">Driver Profile</ion-title>

    <!-- Pencil Icon on the right corner -->
    <ion-buttons slot="end" class="ion-padding">
      <i class="fa-solid fa-pencil"></i>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true">
  <div class="m-1">
  <ion-grid>
    <ion-row class="d-flex justify-content-between align-items-center">
      <ion-col size="6">
        <h2 class="font-bold fs-14">
          {{ driverProfile?.user?.f_name }} {{ driverProfile?.user?.l_name }}
        </h2>
      </ion-col>
      <ion-col size="6" class="text-center">
        <img
          class="rounded-circle image"
          src="{{
            driverProfile?.user?.image || '../../assets/imgs/driver-image.jpg'
          }}"
          alt="Profile Picture"
        />
      </ion-col>
    </ion-row>
  </ion-grid>
  <br />

  <div class="border mb-1 shadow rounded">
    <app-headline-comp title="Personal Information"></app-headline-comp>
    <ion-card-content>
      <ion-item lines="full" class="fs-13">
        <ion-label class="fw-semibold">Name</ion-label>
        <div>
          {{ driverProfile?.user?.f_name }} {{ driverProfile?.user?.l_name }}
        </div>
      </ion-item>
      <ion-item lines="full" class="fs-13">
        <ion-label class="fw-semibold">Email</ion-label>
        <div class="overflow-scroll">
          {{ driverProfile?.user?.email || "---" }}
        </div>
      </ion-item>
      <ion-item lines="full" class="fs-13">
        <ion-label class="fw-semibold">Phone</ion-label>
        <div>{{ driverProfile?.user?.primary_phone || "---" }}</div>
      </ion-item>
    </ion-card-content>
  </div>

  <div class="border mb-1 shadow rounded">
    <app-headline-comp title="License Details"></app-headline-comp>
    <ion-card-content>
      <ion-item lines="full" class="fs-13">
        <ion-label class="fw-semibold">License Number</ion-label>
        <div>{{ driverProfile?.license || "---" }}</div>
      </ion-item>
      <ion-item lines="full" class="fs-13">
        <ion-label class="fw-semibold">Expiration Date</ion-label>
        <div>{{ driverProfile?.expirationDate || "---" }}</div>
      </ion-item>
    </ion-card-content>
  </div>

  <div class="border mb-1 shadow rounded">
    <app-headline-comp title="Contact Details"></app-headline-comp>
    <ion-card-content>
      <ion-item lines="full" class="fs-13">
        <ion-label class="fw-semibold">Address</ion-label>
        <div>{{ driverProfile?.user?.street_address_1 || "---" }}</div>
      </ion-item>
    </ion-card-content>
  </div>

  <div class="border mb-1 shadow rounded">
    <app-headline-comp title="Driving Statistics"></app-headline-comp>
    <ion-card-content>
      <ion-item lines="full" class="fs-13">
        <ion-label class="fw-semibold">Total Trips Completed</ion-label>
        <div>{{ driverProfile?.totalTrips || "---" }}</div>
      </ion-item>
      <ion-item lines="full" class="fs-13">
        <ion-label class="fw-semibold">Duration with Limo</ion-label>
        <div>{{ driverProfile?.service_years || "---" }}</div>
      </ion-item>
      <ion-item lines="full" class="fs-13">
        <ion-label class="fw-semibold">Compliments and Badges</ion-label>
        <div>{{ driverProfile?.description || "---" }}</div>
      </ion-item>
    </ion-card-content>
  </div>

  <div class="border mb-1 shadow rounded">
    <app-headline-comp title="More About You"></app-headline-comp>
    <ion-card-content>
      <ion-item lines="full" class="fs-13">
        <ion-label class="fw-semibold">Your Hometown</ion-label>
        <div>{{ driverProfile?.user?.street_address_2 || "---" }}</div>
      </ion-item>
      <ion-item lines="full" class="fs-13">
        <ion-label class="fw-semibold">Languages Spoken</ion-label>
        <div>{{ driverProfile?.user?.languages || "---" }}</div>
      </ion-item>
    </ion-card-content>
  </div>
</div>
</ion-content>
