/* Font size 13px */
.fs-13 {
  font-size: 13px;
}

.additionalCosts {
  background: var(--bg-primary-100);
  color: var(--bg-neutral-100);
}

.icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  transform: translateY(-50%);
}

.finalizePayment {
  background: var(--bg-blue-100);
  color: var(--bg-neutral-100);
}
