<div>
  <p class="mb-2 text-center fs-5">
    Remaining Payment:
    <span class="text-success">
      {{ currencySymbol }} {{ getTotalRemainingPaymentWithoutWaitingTime() }}
    </span>
  </p>

  @if (waitingCost) {
  <h3 class="mb-4 text-center fs-13">
    Waiting Cost:
    <span class="text-success"> {{ currencySymbol }} {{ waitingCost }} </span>
  </h3>
  }

  <!-- Additional Costs Section -->
  <div class="mb-3">
    <div class="additionalCosts position-relative">
      <app-headline-comp title="Additional Costs"></app-headline-comp>
      <i
        class="fa-solid fa-plus position-absolute top-50 end-0 icon d-flex justify-content-center align-items-center"
        (click)="addCost()"
      ></i>
    </div>

    <div
      *ngFor="let cost of additionalCosts; let i = index"
      class="mt-3 d-flex justify-content-between"
    >
      <div class="flex-grow-1 d-flex gap-2 flex-column">
        <input
          type="text"
          [(ngModel)]="cost.name"
          placeholder="Cost Name"
          class="form-control fs-13"
          [ngClass]="{ 'is-invalid': isCostInvalid(cost) }"
        />
        <input
          type="number"
          [(ngModel)]="cost.amount"
          placeholder="Enter Amount"
          class="form-control fs-13"
          [ngClass]="{ 'is-invalid': isCostInvalid(cost) }"
          (ngModelChange)="calculateTotalAdditionalPayment()"
        />
      </div>

      <button
        type="button"
        class="btn"
        (click)="removeCost(i)"
        style="border: none; background: transparent; color: red"
      >
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>

    <!-- <div *ngFor="let cost of additionalCosts; let i = index" class="mt-3">
      <div class="input-group me-2 flex-grow-1">
        <input
          type="text"
          [(ngModel)]="cost.name"
          placeholder="Cost Name"
          class="form-control fs-13"
          [ngClass]="{ 'is-invalid': isCostInvalid(cost) }"
        />
        <input
          type="number"
          [(ngModel)]="cost.amount"
          placeholder="Enter Amount"
          class="form-control fs-13"
          [ngClass]="{ 'is-invalid': isCostInvalid(cost) }"
          (ngModelChange)="calculateTotalAdditionalPayment()"
        />
        <button
          type="button"
          class="btn"
          (click)="removeCost(i)"
          style="border: none; background: transparent; color: red"
        >
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div> -->

    <div *ngIf="additionalCosts.length > 0" class="mt-2 align-items-end">
      <button class="btn btn-success fs-13" (click)="addToPayment()">
        Add to Payment
      </button>
    </div>

    <!-- Payment Options Section -->
    <div class="my-3">
      <app-headline-comp title="Choose a Payment Option"></app-headline-comp>

      <div class="form-check my-3">
        <label class="form-check-label fs-13">
          <input
            type="radio"
            class="form-check-input"
            name="paymentMethod"
            (click)="setPaymentMethod('cash')"
          />
          Cash
        </label>
        <div *ngIf="selectedPaymentMethod === 'cash'" class="mt-2">
          <label class="form-label fs-13">Amount Collected:</label>
          <input
            type="number"
            class="form-control fs-13"
            [(ngModel)]="collectedAmount"
            placeholder="Enter amount"
          />
        </div>
      </div>

      <div class="form-check mb-3">
        <label class="form-check-label fs-13">
          <input
            type="radio"
            class="form-check-input"
            name="paymentMethod"
            (click)="setPaymentMethod('card')"
          />
          Charged the card on machine
        </label>
      </div>

      <div class="form-check mb-3">
        <label class="form-check-label fs-13">
          <input
            type="radio"
            class="form-check-input"
            name="paymentMethod"
            (click)="setPaymentMethod('other')"
          />
          Other Payment Option
        </label>
        <div *ngIf="selectedPaymentMethod === 'other'" class="mt-2">
          <textarea
            class="form-control fs-13"
            [(ngModel)]="otherPaymentDetails"
            placeholder="Enter payment details"
          ></textarea>
        </div>
      </div>
    </div>

    <!-- Finalize Payment Button -->
    <div class="text-center my-3">
      <button
        class="btn btn-lg finalizePayment fs-13"
        (click)="finalizePayment()"
        [disabled]="!isPaymentAdded && additionalCosts.length > 0"
      >
        Finalize Payment
      </button>
    </div>

    <div
      *ngIf="paymentStatus && !isFormValid()"
      class="alert alert-danger mt-3 text-center fs-13"
    >
      {{ paymentStatus }}
    </div>
  </div>
</div>
