<div class="row">
  <div class="row mb-2">
    <div
      class="text-center col-3 d-flex justify-content-center align-items-center"
    >
      <span class="pu rounded-circle p-2 text-white" style="font-size: 15px"
        >PU</span
      >
    </div>
    <div
      class="col-9 bg-light border text-center py-2 d-flex justify-content-center align-items-center"
    >
      {{ pickupAddress }}
    </div>
  </div>

  <div class="row">
    <div class="text-center col-3 fs-4">
      <i class="fa-solid fa-arrow-down-long"></i>
    </div>
  </div>

  <div class="row mt-2">
    <div
      class="text-center col-3 d-flex justify-content-center align-items-center"
    >
      <span class="pu rounded-circle p-2 text-white" style="font-size: 15px"
        >DO</span
      >
    </div>
    <div
      class="col-9 bg-light border text-center py-2 d-flex justify-content-center align-items-center"
    >
      {{ dropoffAddress }}
    </div>
  </div>
</div>
