<div class="row m-2">
  <!-- Pickup Address -->
  <div class="row mb-1">
    <div class="col-3 d-flex justify-content-center align-items-center">
      <span class="pu rounded-circle p-2 text-white">PU</span>
    </div>
    <div
      class="col-9 bg-light border text-center py-3 d-flex justify-content-center align-items-center rounded"
    >
      <strong>{{ pickupAddress }}</strong>
    </div>
  </div>

  <!-- Arrow Icon -->
  <div class="row mb-1">
    <div
      class="text-center col-3 fs-2 d-flex justify-content-center align-items-center"
    >
      <i class="fa-solid fa-arrow-down-long arrow-icon"></i>
    </div>
  </div>

  <!-- Drop-off Address -->
  <div class="row">
    <div class="col-3 d-flex justify-content-center align-items-center">
      <span class="pu rounded-circle p-2 text-white">DO</span>
    </div>
    <div
      class="col-9 bg-light border text-center py-3 d-flex justify-content-center align-items-center rounded"
    >
      <strong>{{ dropoffAddress }}</strong>
    </div>
  </div>
</div>
